html, body {
  font-size: 150%;
  line-height: 1.4;
  margin: 1cm;
  font-kerning: normal;
  font-family: "Iowan Old Style", "Sitka Text", Palatino, "Book Antiqua", serif;
}

h1 {
  font-size: 3.8rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  margin-bottom: 0.8rem;
}

p {
  line-height: 2.0rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

pre, .hljs {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-family: Monaco, monospace;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted blue;
}

dl {
  font-size: 1rem;
  line-height: 1rem;
  color: dimgray;
}

dt::before {
  content: "* ";
}

dd {
  margin-bottom: 0.2rem;
}

ul {
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pagebreak {
  margin: 1cm;
  page-break-after: always;
}

.legend {
  font-size: 1rem;
}

.axisX {
  font-size: 1rem;
}

.axisY {
  font-size: 1rem;
  transform: rotate(-90deg);
}

@page {
  size: landscape;
  margin: 0;
}
